{% extends "base.html" %}

{% block main %}
  {% if announcements %}
    {% for announcement in announcements %}
      <a href="#">
        <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3 mx-4 mt-4 mb-2" role="alert">
          <p class="font-bold">{{ announcement.title }}</p>
          <p class="text-sm">{{ announcement.description|truncatewords:16 }}</p>
          <p class="text-xs mt-2">Read more</p>
        </div>
      </a>
    {% endfor %}
  {% endif %}

  <div class="flex flex-row flex-wrap items-stretch px-2">
    {% for category in servicecategory_list %}
      <div class="w-1/2 p-2
        ">
        <a class="w-full self-center" href="{% url "core:service-category-detail" category.slug %}">
          <div class="p-4 text-center text-white text-xl font-medium rounded-sm
            {% cycle 'bg-teal-400' 'bg-orange-500' 'bg-purple-600' 'bg-yellow-500' 'bg-red-600' 'bg-blue-500' 'bg-pink-500' 'bg-yellow-400' 'bg-green-600' 'bg-blue-600' 'bg-green-500' 'bg-gray-600' %}
            ">
            {{ category.name }}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}
