{% extends "base.html" %}

{% block main %}
  <div class="bg-orange-100 border-t border-b border-orange-500 text-orange-800 px-4 py-3 mx-2 mt-4 mb-2" role="alert">
    <p class="font-bold">Meals at Frederick Rescue Mission</p>
    <p class="text-sm">The Frederick Rescue Mission serves meals at lunch daily. Lunches are served at ...</p>
    <p class="text-xs mt-2">Read more</p>
  </div>

  <div class="flex flex-row flex-wrap items-stretch mb-8">
    {% for category in servicecategory_list %}
      <div class="w-1/2 p-2
        ">
        <a class="w-full self-center" href="{% url "core:service-category-detail" category.slug %}">
          <div class="p-4 text-center text-white text-xl font-medium rounded-sm
            {% cycle 'bg-teal-400' 'bg-orange-500' 'bg-purple-600' 'bg-yellow-500' 'bg-red-600' 'bg-blue-500' 'bg-pink-500' 'bg-yellow-400' 'bg-green-600' 'bg-blue-600' 'bg-green-500' 'bg-gray-600' %}
            ">
            {{ category.name }}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <a href="tel:211" class="bg-red-700 text-white font-semibold py-3 px-6 rounded-full text-xl">
      Get Help Now
    </a>
  </div>
{% endblock %}
