{% extends "base.html" %}
{% load static %}

{% block main %}

  <section class="bg-red-700 border-b mt-2 pt-5 pb-5 h-auto">
    <a href="tel:211">
      <div class="flex flex-row items-start justify-center mr-4">
          <img class="hover:opacity-75 h-24"  src="{% static "crisis-211.png" %}" alt="emergency operator icon">

          <div class="text-white">
            <h3 class="font-bold text-xl mb-2">Do you need immediate help or just have a question?</h3>
            <p class="text-white text-base">Maryland’s Helpline is available 24/7 to provide support, guidance, and assistance.
            Please <span class="font-bold" href="tel:211">call 211</span> and select option 1, text your zip code to 898-211, or visit 211MD.org </p>
          </div>
      </div>
    </a>
  </section>

  {% if announcements %}
    {% for announcement in announcements %}
      <a href="{% url "announcements:detail" announcement.pk %}">
        <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3 mx-4 mt-4{% if not forloop.last %} mb-2{% endif %}" role="alert">
          <p class="font-bold inline-flex items-center">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M3 6c0-1.1.9-2 2-2h8l4-4h2v16h-2l-4-4H5a2 2 0 0 1-2-2H1V6h2zm8 9v5H8l-1.67-5H5v-2h8v2h-2z"/></svg>
            {{ announcement.title }}
          </p>
          <p class="text-sm">{{ announcement.description|truncatewords:16 }}</p>
          <p class="text-xs mt-2">Read more</p>
        </div>
      </a>
    {% endfor %}
  {% endif %}

  <section id="main-content" class="container mx-auto flex flex-wrap pt-4 pb-12 bg-white">
    <div class="w-full pb-1 text-2xl text-center font-extrabold text-blue-900">
      <h2 id="services" class="">
        Services and Support
      </h2>
    </div>

    {% for category in servicecategory_list %}
      <div class="w-full md:w-1/3 xl:w-1/3 p-5 flex flex-col">
        <div class="flex flex-wrap flex-col-reverse content-between sm:flex-row text-gray-800" >
          <a class="w-full self-center" href="{% url "core:service-category-detail" category.slug %}">
            <img class="w-full bg-{{ category.color }}-500 ripple object-cover shadow-lg"  src="{% static category.icon %}" alt="{{ category.name }}">
            <div class="p-4">
              <h3 class="font-bold">{{ category.name }}</h3>
              <p class="font-light">{{ category.description }}</p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}

  </section>

{% endblock %}
