{% extends "base.html" %}

{% block main %}
  <h1 class="text-2xl text-center text-semibold text-blue-800 bg-blue-100 p-2 mb-4 border-b border-gray-300">{{ servicecategory.name }}</h1>

  {% for service in services %}
    <div class="mx-3 mb-4 px-3 py-2 bg-blue-100 border border-gray-300 rounded">
      <a class="flex flex-col" href="{% url "core:service-detail" service.id %}">
        <h2 class="text-xl text-blue-800 font-light mb-2 inline-flex items-center">
          <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20S3 10.87 3 7a7 7 0 1 1 14 0c0 3.87-7 13-7 13zm0-11a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/></svg>
          {{ service.name }}
        </h2>
        <p class="text-sm text-gray-700 mb-2">{{ service.description|truncatewords:20 }}</p>
        <p class="text-sm text-gray-500 text-right">Read More</p>
      </a>
    </div>
  {% endfor %}

{% endblock %}
