{% extends "base.html" %}

{% block main %}
  <a href="{% url "core:service-category-detail" service.category.slug %}">
    <h1 class="text-2xl text-center text-semibold text-blue-800 bg-blue-100 p-2 mb-4 border-b border-gray-300">{{ service.category.name }}</h1>
  </a>

  <div class="mx-4">
    <h2 class="text-xl text-medium text-blue-800 py-2">{{ service.name }}</h2>
    <p class="text-gray-900 mb-2">{{ service.description }}</p>
    <div class="flex flex-row flex-wrap my-4">
      <div class="w-1/3 p-1">
        <a class="bg-gray-100 text-lg text-gray-800 p-2 flex items-center justify-center rounded-lg" href="tel:{{ service.phone_number }}">
          <span class="text-red-600">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M20 18.35V19a1 1 0 0 1-1 1h-2A17 17 0 0 1 0 3V1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v4c0 .56-.31 1.31-.7 1.7L3.16 8.84c1.52 3.6 4.4 6.48 8 8l2.12-2.12c.4-.4 1.15-.71 1.7-.71H19a1 1 0 0 1 .99 1v3.35z"/></svg>
          </span>
          Phone
        </a>
      </div>
      <div class="w-1/3 p-1">
        <a class="bg-gray-100 text-lg text-gray-800 p-2 flex items-center justify-center rounded-lg" href="{{ service.website }}">
          <span class="text-red-600">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm2-2.25a8 8 0 0 0 4-2.46V9a2 2 0 0 1-2-2V3.07a7.95 7.95 0 0 0-3-1V3a2 2 0 0 1-2 2v1a2 2 0 0 1-2 2v2h3a2 2 0 0 1 2 2v5.75zm-4 0V15a2 2 0 0 1-2-2v-1h-.5A1.5 1.5 0 0 1 4 10.5V8H2.25A8.01 8.01 0 0 0 8 17.75z"/></svg>
          </span>
          Website
        </a>
      </div>
      <div class="w-1/3 p-1">
        <a class="bg-gray-100 text-lg text-gray-800 p-2 flex items-center justify-center rounded-lg" href="mailto:{{ service.email }}">
          <span class="text-red-600">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.6 13.47A4.99 4.99 0 0 1 5 10a5 5 0 0 1 8-4V5h2v6.5a1.5 1.5 0 0 0 3 0V10a8 8 0 1 0-4.42 7.16l.9 1.79A10 10 0 1 1 20 10h-.18.17v1.5a3.5 3.5 0 0 1-6.4 1.97zM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>
          </span>
          Email
        </a>
      </div>
    </div>
    <p class="text-gray-900 pl-1 mb-2 inline-flex items-center">
      <span class="text-red-600">
        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z"/></svg>
      </span>
      {{ service.operating_hours }}
    </p>
    <p class="text-gray-900 pl-1 mb-1 inline-flex items-center">
      <span class="text-red-600">
        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20S3 10.87 3 7a7 7 0 1 1 14 0c0 3.87-7 13-7 13zm0-11a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/></svg>
      </span>
      {{ service.street_address }}, {{ service.city }}, {{ service.state }} {{ service.zip_code }}
    </p>
    {# <p class="pl-1 ml-6">Get Directions</p> #}
  </div>
{% endblock %}
