{% load static %}
<!DOCTYPE html>
<html lang="en-US" class="bg-white subpixel-antialiased">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="{% static "manifest.json" %}" rel="manifest">
  <title>SHIP Haven</title>
  <style>
.xx-YES, .xx-1 {border-color: #c53030 !important;}
.xborder .xx-YES {border-color: #c53030 !important;}

.ripple {
  background-position: center;
  transition: background 0.5s;
}
.ripple:hover {
  background: #cbd5e0 radial-gradient(circle, transparent 1%, #cbd5e0 1%) center/15000%;
}
.ripple:active {
  background-color: var(--active-color);
  background-size: 100%;
  transition: background 0s;
}
  </style>
</head>
<body class="min-h-screen flex flex-col">

  <main class="container mx-auto flex-grow">
    <div class="flex flex-row items-stretch justify-between pl-4">
      <a href="{% url "core:index" %}">
        <img class="h-10 my-3" src="{% static "logos/line-logo.png" %}" alt="SHIP Haven logo">
      </a>
      <div class="text-center">
        <a href="tel:211" class="h-16 inline-flex items-center bg-red-700 text-white font-semibold py-2 px-4 text-md">
          <img class="h-16" src="{% static "crisis.png" %}" alt="Call for help">
        </a>
      </div>
    </div>

    {% block main %}{% endblock %}
  </main>

  <section class="bg-gray-100 border-b pt-5 pb-5 h-auto">
    <div class="flex flex-wrap flex-col-reverse sm:flex-row items-center justify-center">
      <div class="w-full text-center sm:w-1/2 p-6 mt-6">
        <img class="hover:opacity-75 h-32 m-auto pb-5"  src="{% static "frederick-county.png" %}" alt="Frederick County icon">

        <div class="text-gray-900 font-bold text-xl mb-2">Sign up to receive announcements.</div>
        <div class="text-gray-700 text-base">
          <form action="https://shipfrederick.us10.list-manage.com/subscribe/post?u=fceb2fa00c7e8723b4bba0ee9&id=5af450fae4" method="POST">
            <input type="email" name="EMAIL"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="Your email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fceb2fa00c7e8723b4bba0ee9_5af450fae4" tabindex="-1" value=""></div>
            <input type="submit" value="Sign Up" class="bg-blue-600 hover:bg-blue-700 text-white font-bold mt-4 py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          </form>
        </div>
      </div>
  </section>

  <footer class="container mx-auto  px-8">
    <div class="w-full flex flex-col md:flex-row py-6">
      <div class="flex-1 mb-6">
        <p class="font-bold text-gray-800 mb-2">
          <a class="text-blue-700" href="https://shipfrederick.com/">SHIP of Frederick County</a>
          provides urgent services and critical support
          for the hundreds of youth experiencing homelessness
          in Frederick County each year.
        </p>
        <p class="font-bold text-gray-800 mb-2">
          SHIP believes in the power of education
          to transform these young people’s lives.
        </p>
        <p class="text-gray-800">&copy; {% now "Y" %} SHIP of Frederick County<p>
        <a href="https://www.freepik.com/free-photos-vectors/background target="_blank"" class="text-xs text-gray-500">Icons by freepik - www.freepik.com</a>
      </div>
    </div>
  </footer>

</body>
</html>
