{% load static %}
<!DOCTYPE html>
<html lang="en-US" class="bg-white subpixel-antialiased">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="{% static "manifest.json" %}" rel="manifest">
  <title>SHIP Haven</title>
</head>
<body class="min-h-screen flex flex-col">

  <main class="container mx-auto flex-grow">
    <div class="flex flex-row items-stretch justify-between pl-4">
      <a href="{% url "core:index" %}">
        <img class="h-10 my-3" src="{% static "logos/line-logo.png" %}" alt="SHIP Haven logo">
      </a>
      <div class="text-center">
        <a href="tel:211" class="h-16 inline-flex items-center bg-red-700 text-white font-semibold py-2 px-4 text-md">
          <img class="h-16" src="{% static "crisis.png" %}" alt="Call for help">
        </a>
      </div>
    </div>

    {% block main %}{% endblock %}
  </main>

  <div class="py-8">
    <a href="https://shipfrederick.com/">
      <img class="px-24" src="{% static "ship-logo.jpg" %}" alt="SHIP logo">
    </a>
  </div>

  <div class="mx-8 mb-4 font-serif italic text-sm text-blue-900">
    <p class="mb-2">
      <a class="text-blue-700" href="https://shipfrederick.com/">SHIP of Frederick County</a>
      provides urgent services and critical support
      for the hundreds of youth experiencing homelessness
      in Frederick County each year.
    <p>
    </p>
      SHIP believes in the power of education
      to transform these young people’s lives.
    </p>
  </div>

  <footer class="container mx-auto border-t border-gray-400 p-4 text-center text-sm text-gray-600 print-hide">
    <span class="mx-1">&copy; {% now "Y" %} SHIP of Frederick County</span>

    <a href="#" class="mx-1 hover:text-gray-900">Terms of Use</a>
  </footer>
</body>
</html>
